PORT=5000
MONGO_URI=mongodb://shrutijhadev_db_user:Gigaflow123@ac-irhnqkf-shard-00-00.cyl4i2b.mongodb.net:27017,ac-irhnqkf-shard-00-01.cyl4i2b.mongodb.net:27017,ac-irhnqkf-shard-00-02.cyl4i2b.mongodb.net:27017/gigflow?ssl=true&replicaSet=atlas-cntpcf-shard-0&authSource=admin&retryWrites=true&w=majority

JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjZhMDgwOTNlM2ZjMTlmYTViNmE0ODQyZCIsImlhdCI6MTc3ODkxMjA4MSwiZXhwIjoxNzc5NTE2ODgxfQ.iDJdLWE7InL-N4LFdPT1ETtvwaeYUsanETPjthi44j8